.branding {
  padding: 30px 10px 5px 0;
}

.site-branding__name a {
  color: #fff;;
  font-size: 2em;
  font-family: 'Oregano';
  font-style: normal;
  font-weight: 800;
}

.site-branding__name a:hover {
  color: rgb(35, 240, 62);
}

.site-branding__slogan {
  color: #fff;
}