{% include '@real/includes/header.html.twig' %}

{% if page.content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 contenido">
        {{ page.content }}
      </div>
    </div>
  </div>
{% endif %}

<div class="contenido_views">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{ drupal_view('latest_articles', 'block_1') }}
      </div>
    </div>
  </div>
</div>

{% include '@real/includes/footer.html.twig' %}
